[Unit]
Description=The service launching the ranking process.

[Service]
Type=oneshot
WorkingDirectory=/home/user
ExecStart=/usr/bin/docker run fortnite-telegram-bot -r

[Install]
WantedBy=multi-user.target